/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
   .xs-font
   {
       font-size: 2rem;
   }

   .xs-font-2
   {
       font-size: 1rem;
   }

   .vid-bg
   {
       width: auto;
   }

   .nav-col
   {
       flex-direction: column;
       text-align: right;
   }

   .xs-top
   {
       align-items: flex-start ! important; 
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .sm-font
    {
        font-size: 2rem;
    }

    .sm-font-2
    {
        font-size: 1rem;
    }

    .sm-top
   {
       align-items: flex-start ! important; 
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) 
{
    .md-font
    {
        font-size: 2rem;
    }

    .md-font-2
    {
        font-size: 1rem;
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    
    .lg-font
    {
        font-size: 3rem;
    }
        
    .lg-font-2
    {
        font-size: 1.5rem;
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .xl-font
    {
        font-size: 4.5rem;
    }

    .xl-font-2
    {
        font-size: 2rem;
    }
    
}