@font-face {
    font-family: 'Blender Pro';
    src: url('fonts/blender\ pro/BlenderPro-Book.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: rgb(10, 10, 10);
    color: #dddddd;
    font-family: 'Roboto';
    font-size: 1.2rem;
}
a
{
    color: #ffffff;
}

.header-container
{
    margin-left: 2vw;
}

.header
{
    height: 100vh;
}

.header-text
{
    
    /* font-family: 'Blender Pro'; */
    letter-spacing: -.1rem;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 50%;
    top: 0;
    left: 0;
  }
