/*global styles*/
*, body, body > * 
{
    box-sizing: border-box;
    color: #f3f3f3;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    /* font-weight: 300;
    font-style: normal;
    letter-spacing: 0.05em;
    line-height: 1rem; */
}

body
{
    background-color: rgb(10, 10, 10);
}

body::-webkit-scrollbar {
    display: none;
}

.index-projects
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100vw;
}

.wrapper
{
    /* height: 100vh;
    width: 100vw; */
    /* position: fixed;
    overflow: scroll; */
}

h1,h2,h3,h4,h5,h6
{
    text-transform: uppercase;
    font-family: Blender Pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-family: proxima-nova, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: normal;
}

li, a
{
    list-style: none;
    text-decoration: none;
}

header
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.nav-list
{
    text-align: right;
}

.logo
{
    transform: translateY(25%);
}

.logo-text
{
    text-transform: uppercase;
    transform: translateY(85%);
    margin-left: 5px;
}

.main-nav > *
{
    position: fixed;
}

.about-grid
{
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-text
{
    /* border: red 1px solid; */
    font-size: 16px;
    margin-left: 10%;
}

.logo
{    
     
}

.logo-text
{
    
}

.logo-text > a
{
    font-family: Blender Pro, sans-serif;
}

.logo > *
{
    float: left;
}

.logo > a > span
{
    /* font-size: .8rem;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    display: inline-block;
    position: relative;
    top: 50%;
    margin-left: 20px; */
}

.logo-img
{
    position: fixed;
    top: 25px;
    left: 50vw;
}

.logo-img img
{
    height: 80px;
}

.social-links
{
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
}

.social-links > ul > li
{
    margin-bottom: 20px;
}

.nav-list 
{
    /* top: 50px;
    right: 50px; */
    /* border: red solid 1px; */
    /* float: left; */
}

.nav-list > ul > li
{
    margin-bottom: 5px;
    
}

.project-1-container
{
    height: 100vh;
}

.project-1
{
    background-image: url("/images/Augmented\ mockup.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.project-2
{
    background-image: url("/images/linkdup.png");
    background-position: center;
    background-size: cover;
}

.project-3
{
    background-image: url("/images/prima_materia.jpg");
    background-position: center;
    background-size: cover;
}

.projects-wrapper
{
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin: 15vh 0px 15vh 0px;
}

.project
{
    z-index: -1000;
    margin-bottom: 30vh;
}

.project-img
{
    width: 50vw;
    height: 50vh;
}

.project-info-wrapper
{
    margin-top: -0.5rem;
}

.project-title
{
    padding: 10px;
    height: 100%;
}

.project-title > h1
{
    font-size: 4rem;
}

.project-details
{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-details > *
{
    font-size: 0.833rem;
}

.project-details > div > *
{
    margin-bottom: 20px;
}

.project-intro
{
    border-bottom: solid 1px #797979;
    
}

.project-styling > *
{
    margin-bottom: 20px;
    width: 50vw;
}

.project-styling
{
    margin-bottom: 160px;
    width: 50vw;
}

.project-grid
{
    width: 50vw;
    display: grid;
    grid-template-columns: 30% 70%;
}

.project-font > *
{
    line-height: 1.5rem;
    font-size: 0.833rem;
}

.project-lg-font p
{
    font-family: proxima-nova, sans-serif;
    font-size: 1.728rem;
    font-weight: 200;
    font-style: normal;
    line-height: 2.5rem;
}

.project-summary p
{
    width: 50vw;
    font-family: proxima-nova, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5rem;
}

.project-summary p
{
    margin-bottom: 40px;
}

.footer-links
{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: calc(100% - (98px * 2));
}

.email-cta
{
   margin-left: auto;
   width: 5rem;
   font-size: 0.694rem; 
   text-align: center; 
}

.email-cta > a > svg
{
    height: 1.5rem;
}